@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
:root {
  --background-color: #fafafa;
  --main-color: #4f9a94;
  --point-color: #b2dfdb;
  --font-color-w: white;
  --border-radius: 10px;
  --font-main: "Ubuntu", sans-serif;
  --trash-color: #707070;
  --updown-color: #ffecb3;
}

* {
  font-family: var(--font-main);
  box-sizing: border-box;
}

.app {
  box-sizing: border-box;
  margin: 2.5em auto;
  width: 400px;
  height: 600px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

/* navbar */
.navbar {
  padding: 25px;
}

.nav {
  margin-left: 10px;
  font-size: 20px;
}

.nav-icon {
  color: var(--main-color);
  font-size: 30px;
}

.nav-title {
  font-size: 25px;
}

.nav-count {
  display: inline-block;
  text-align: center;
  font-size: 25px;
  background: var(--main-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--font-color-w);
}
/* inputForm */
.main {
}

.inputForm {
  height: 40px;
  display: flex;
}
.inputText {
  outline: none;
  border: none;
  width: 80%;
  height: 100%;
  margin-right: 0;
  font-size: 25px;
  padding: 20px;
}

.inputAdd {
  outline: none;
  border: none;
  padding: 0;
  width: 20%;
  height: 100%;
  font-size: 15px;
  color: var(--font-color-w);
  background: var(--main-color);
  cursor: pointer;
}

/* habit */
button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.habits {
  padding: 0;
  overflow: auto;
  height: 380px;
}

.habit {
  font-family: var(--font-main);
  font-size: 1.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-name {
  display: inline-block;
  width: 49%;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin-left: 0.3em;
  margin-right: 0.5em;
  background-color: darkseagreen;
  color: var(--font-color-w);
  border-radius: 50%;
}

.habit-button {
  font-size: 2rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: var(--updown-color);
}

.habit-delete {
  font-size: 1.5rem;
  color: var(--trash-color);
}

.reset {
  background: var(--main-color);
  color: var(--font-color-w);
  margin: 0 150px;
  width: 100px;
  height: 50px;
  padding: 10px;
  font-size: 15px;
  border-radius: var(--border-radius);
}
